rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
  	match /mail-list/{email} {
    	allow create, update: if true; 
    }
    
    match /mail/{email} {
    	allow create: if true; 
    }
    
    match /courses/{course=**} {
    	allow create, update, read, delete: if true;
    }
    
    match /sjt-consulting/{questions} {
    	allow create, update, read, delete: if true;
    }
    
    match /nr-consulting/{questions} {
    	allow create, update, read, delete: if true;
    }
    
    match /users/{user_uid} {
    	allow create, update, read, delete: if true;
    }
    
    match /blogs/{blog} {
    	allow create, update, read, delete: if true;
    }
    
    match /user-meta/{meta=**} {
    	allow create, update, read, delete: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}