.blog img {
  /* width: 100%; */
  /* max-width: 400px; */
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}

.blog p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
pre {
  font-family: Roboto, sans-serif;
}
